{% extends 'home.html' %} 
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Are you sure you want to delete {{ data }}</h5>
                    <form action="{% url 'delete_data' data.id %}" method="POST" id="bin_form">
                        {% csrf_token %}
                        <a href="{% url 'home' %}" class="btn btn-danger mr-2">No</a>
                        <input type="submit" value="Yes" class="btn btn-info">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
